input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parentContainer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}
.circles-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
}
.empty-circles-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  margin-left: 8%;
  width: 400px;
  height: fit-content;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.452) 0px 7px 29px 0px;
  padding: 20px;
}
.empty-circles{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  cursor: pointer;
}
.input-container{
  margin-right: 8%;
  display: flex;
  flex-direction: column
}

.text-center {
  text-align: center;
  font-weight: 500;
}
#number{
  padding: 10px;
  font-size: 18px;
  margin: 12px;
  width: 280px;
  border-radius: 5px;
  outline: none;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid grey;
}
.submit{
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  margin: 8px;
  border-radius: 5px;
  outline: none;
  border: none;
  width: fit-content;
  margin: auto;
  cursor: pointer;
  color: aliceblue;
  background-color: black;
  border: 1px solid grey;
  transition: all .3s ease-in ;
}
.submit:focus{
  background-color: aliceblue;
  color: black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.submit:hover{
  background-color: orange;
  color: whitesmoke;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: none;
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding-top: 40%;
}
#circle-1,
#empty-circle-1 {
  text-align: center;
  font-size: large;
  place-items: center;
  background-color: rgba(0, 255, 255, 0.229);
  border: 2px solid rgba(0, 255, 255, 0.848);
}
#circle-2,
#empty-circle-2 {
  text-align: center;
  font-size: large;
  place-items: center;
  background-color: rgba(0, 128, 0, 0.226);
  border: 2px solid rgba(0, 128, 0, 0.848);
}
#circle-3,
#empty-circle-3 {
  text-align: center;
  font-size: large;
  place-items: center;
  background-color: rgba(0, 0, 255, 0.229);
  border: 2px solid rgba(0, 0, 255, 0.848);
}
#circle-4,
#empty-circle-4 {
  text-align: center;
  font-size: large;
  place-items: center;
  background-color: rgba(128, 0, 128, 0.229);
  border: 2px solid rgba(128, 0, 128, 0.848);
}
#circle-5,
#empty-circle-5 {
  text-align: center;
  font-size: large;
  place-items: center;
  background-color: rgba(255, 255, 0, 0.229);
  border: 2px solid rgba(255, 255, 0, 0.48);
}
#empty-circle-1,
#empty-circle-2,
#empty-circle-3,
#empty-circle-4,
#empty-circle-5{
  padding-top: 10%;
}